body{
  background-color: #393E46;
}
.container{
    margin: auto;
    text-align: center;
    width: 60%;
}
.dice{
    display: inline-block;
    text-align: center;
    width: 40%;
}
h1{
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    font-size: 6rem;
    margin: 30px;
}

h2{
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    font-size: 2rem;
    margin-bottom: 5px;
}
p{
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
footer{
    margin-top: 2%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}